In [17]:
import re  # re → Metin içinde desen aramak ve değiştirmek için kullanılır (örneğin linkleri bulmak).
import string  # string → Noktalama işaretlerini temizlemek için kullanılır.
from nltk.corpus import stopwords  # nltk / stopwords → İngilizce’de anlam taşımayan kelimeleri (a, the, and, vs.) temizlemek için.
import nltk
import pandas as pd

In [18]:
df=pd.read_csv("veri.csv")

In [19]:
df.head(3)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,2186710655,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,mikastarfire,I had terrible headache last night.... and my ...
1,0,2186710671,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,xxLOVExxPEACE,i cant sleep
2,0,2186710748,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,dvanulya,@alba17 Sorry about kid situation. Good luck w...

In [20]:
columns=["id","date","query","user","text"]
df=pd.read_csv("veri.csv",names=columns)

In [21]:
df.head(3)

,id,date,query,user,text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
0,2186710655,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,mikastarfire,I had terrible headache last night.... and my ...
0,2186710671,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,xxLOVExxPEACE,i cant sleep

In [22]:
df["cleaned_text"]=df["text"].apply(clean_text)

In [23]:
df.head(10)

,id,date,query,user,text,cleaned_text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",thats bummer shoulda got david carr third day
0,2186710655,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,mikastarfire,I had terrible headache last night.... and my ...,terrible headache last night weight decreased ...
0,2186710671,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,xxLOVExxPEACE,i cant sleep,cant sleep
0,2186710748,Mon Jun 15 19:13:35 PDT 2009,NO_QUERY,dvanulya,@alba17 Sorry about kid situation. Good luck w...,sorry kid situation good luck vid sorry giving...
0,2186710897,Mon Jun 15 19:13:36 PDT 2009,NO_QUERY,byhuy,nhớ nhà quá!!! cứ mỗi lần nghe bài Giấc Mơ Trưa,nhớ nhà quá cứ mỗi lần nghe bài giấc mơ trưa
0,2186711047,Mon Jun 15 19:13:37 PDT 2009,NO_QUERY,Chi_lanta,Missing Him!! Twitter Me RED?? What the heck i...,missing twitter red heck girl todo sad face
0,2186711267,Mon Jun 15 19:13:38 PDT 2009,NO_QUERY,IBEChillin,#musicmonday i got the blues today ***sad ...,musicmonday got blues today sad
0,2186711319,Mon Jun 15 19:13:38 PDT 2009,NO_QUERY,akjava,Going to bed early tonight! (maybe) Wrist hurs...,going bed early tonight maybe wrist hurst bad ...
0,2186711725,Mon Jun 15 19:13:40 PDT 2009,NO_QUERY,icyprincess1218,I'm finally home! ... but only for a week,im finally home week
0,2186712004,Mon Jun 15 19:13:42 PDT 2009,NO_QUERY,Deeeda,Crazy busy day. Crazy busy week ahead. Getti...,crazy busy day crazy busy week ahead getting r...

In [24]:
nltk.download("stopwords")
# stopwords kelimelerini indirir

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mesut\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
stop_words=set(stopwords.words("english"))

In [26]:
def clean_text (text):
    text=text.lower()  #büyük ve küçük harf farkını kaldırır
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)
    text = re.sub(r'\@\w+|\#','', text)
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

In [29]:
df=df.drop("text",axis=1)

In [30]:
df.to_csv("twiter_data_cleaned.csv",index=False)